@media(max-width: 1700px) {
    .booking-element{
        display: none;
    }
    .booking-form{
        margin-left: 20px;
    }
    .banner-element{
        display: none;
    }
    .about-element-two{
        width: 50%;
    }
    .about-thumb{
        padding-right: 0;
    }
    .about-section--style .about-thumb{
        padding-left: 0;
    }
    .about-content{
        width: 100%;
        margin-left: 0;
    }
    .choose-us-content{
        width: 100%;
    }
    .contact-section{
        padding-left: 0;
        width: 100%;
    }
    .contact-element{
        display: none;
    }
    .contact-element--style{
        display: none;
    }
    .flight-search-area{
        max-width: 100%;
    }
    .banner-section--style .banner-content{
        width: 100%;
    }
    .search-widget-area--style2{
        display: none;
    }
    .hotel-booking-content{
        width: 100%;
    }
    .faq-element-one{
        display: none;
    }
}
@media(max-width: 1199px) {
    .banner-content .title{
        width: 100%;
    }
    .choose-content{
        max-width: 100%;
    }
    .team-section--style .team-thumb {
        width: 100%;
    }
    .team-section--style .team-content {
        width: 100%;
    }
    .overview-content{
        width: 100%;
        margin-left: 0;
    }
    .airline-course-section{
        display: none;
    }
    .banner-content p{
        width: 100%;
    }
    .client-content--style .client-thumb--style::before{
        display: none;
    }
    .posrt-thumb .hover .title{
        font-size: 18px;
    }
    .posrt-thumb .hover a{
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    #vmap{
        height: 240px;
        margin-left: 0;
    }
}
@media (max-width: 991px) {
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 20px;
    }
    p,span,li{
        font-size: 14px;
    }
    input,textarea{
        font-size: 14px;
    }
    .banner-section--style{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .banner-content .title {
        font-size: 32px;
    }
    .banner-content .title span {
        font-size: 32px;
    }
    .banner-content p {
        font-size: 18px;
    }
    .banner-content .cmn-btn {
        margin: 20px 15px 0 0;
    }
    .four-not-four-section-wrapper .title {
        font-size: 80px;
    }
    .sidebar{
        margin-top: 60px;
    }
    .privacy-sidebar{
        margin-top: 60px;
    }
    .destination-details-section .sidebar{
        margin-bottom: 60px;
    }
    .question-form-area{
        padding-top: 90px;
    }
    .faq-thumb{
        padding-top: 30px;
    }
    .inner-banner-content .title {
        font-size: 40px;
    }
    .sidebar-offer-item .title {
        font-size: 40px;
    }
    .sidebar-offer-item .title span {
        font-size: 30px;
    }
    .add-content .title {
        font-size: 32px;
    }
    .add-content span {
        font-size: 35px;
    }
    .grid-item{
        max-width: 50%;
        flex: 50%;
        width: 50%;
    }
    .offer-item{
        width: 50%;
    }
    .portfolio-section .section-header{
        margin-bottom: 30px;
    }
    .portfolio-section .cmn-btn.active{
        margin-bottom: 60px;
    }
    .header-bottom{
        background-color: #fff;
    }
    .header-bottom .site-logo{
        display: block;
        padding: 5px 0;
    }
    .navbar-expand-lg{
        float: right;
        width: 100%;
    }
    .header-action{
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar-toggler{
        display: block;
    }
    .skill-content-area{
        width: 100%;
    }
    .about-section::after{
        background-color: #fff;
    }
    .counter-area{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about-element-one{
        display: none;
    }
    .about-element-two{
        display: none;
    }
    .about-section::after{
        width: 0;
    }
    .single-row .right .top {
        width: 100%;
    }
    .blog-details-content{
        display: block;
    }
    .post-meta{
        width: 100%;
        display: flex;
    }
    .post-meta .item{
        margin-right: 10px;
    }
    .blog-post-details{
        width: 100%;
    }
    .blog-post-details .title{
        font-size: 28px;
    }
    .blog-post-details blockquote .quote-content {
        font-size: 18px;
    }
    .blog-author{
        display: block !important;
    }
    .blog-author .author-content{
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }
    .comment-area li{
        display: block !important;
    }
    .comment-area li .blog-thumb-info {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }
    .comment-area li .blog-comment-content {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }
    .facilities-content {
        padding-top: 0;
        padding-bottom: 0;
    }
    .four-not-four-thumb {
        padding-top: 0;
        margin-left: -120px;
        margin-right: -90px;
    }
    .four-not-four-content{
        padding-top: 100px;
    }
    .four-not-four-content .sub-title{
        font-size: 35px;
    }
    .video-content .title{
        font-size: 30px;
    }
    .faq-thumb{
        display: none;
    }
    .client-item--style .client-thumb--style{
        width: 100%;
    }
    .client-item--style .client-content--style{
        width: 100%;
    }
    .header-top-btn {
        position: absolute;
        width: 100%;
        left: auto;
        right: 0;
        top: 100%;
        display: block;
    }
    .change-catagory-area{
        display: none;
    }
    .common-form-style{
        border-radius: 15px;
    }
    .search-widget-area--style2{
        display: block;
        width: 100%;
    }
    .rt-input-group--style3 .single-input {
        margin-bottom: 30px;
    }
    .hotel-booking-thumb{
        display: none;
    }
    .hotel-details-content .title{
        font-size: 22px;
    }
    .rt-input-group .col-rt-in-3 {
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .contact-area{
        padding: 80px 120px;
    }
    .banner-element-one{
        display: none;
    }
    .banner-element-two{
        display: none;
    }
    .banner-element-three{
        display: none;
    }
    .banner-element-four{
        display: none;
    }
    .banner-element-five{
        display: none;
    }
    .banner-element-six{
        display: none;
    }
    .banner-element-seven{
        display: none;
    }
    .banner-element-eight{
        display: none;
    }
    .banner-element-nine{
        display: none;
    }
    .banner-element-ten{
        display: none;
    }
    .banner-element-eleven{
        display: none;
    }
    .banner-element-twelve{
        display: none;
    }
    .banner-element-thirteen{
        display: none;
    }
    .banner-element-fourteen{
        display: none;
    }
    .banner-element-fifteen{
        display: none;
    }
    .banner-element-sixteen{
        display: none;
    }
    .banner-element-seventeen{
        display: none;
    }
    .banner-element-eigtteen{
        display: none;
    }
    .banner-element-nineteen{
        display: none;
    }
    .banner-video-area{
        margin-left: 0;
    }
    .banner-content .sub-title {
        font-size: 20px;
    }
    .about-element-one{
        display: none;
    }
    .about-element-two{
        display: none;
    }
    .about-element-three{
        display: none;
    }
    .about-element-four{
        display: none;
    }
    .about-element-five{
        display: none;
    }
    .about-element-six{
        display: none;
    }
    .about-element-seven{
        display: none;
    }
    .about-element-eight{
        display: none;
    }
    .about-element-nine{
        display: none;
    }
    .about-element-ten{
        display: none;
    }
    .about-item--style{
        margin-bottom: 30px;
    }
    .about-item--style-two{
        margin-top: 0;
    }
    .challenge-section .challenge-area .challenge-item::before{
        display: none;
    }
    .challenge-section .challenge-area .challenge-item {
        padding: 0;
    }
    .play-item-area{
        padding: 0;
    }
    .join-element-one{
        display: none;
    }
    .join-element-two{
        display: none;
    }
    .join-element-three{
        display: none;
    }
    .join-element-four{
        display: none;
    }
    .join-element-five{
        display: none;
    }
    .join-element-six{
        display: none;
    }
    .join-element-seven{
        display: none;
    }
    .join-element-eight{
        display: none;
    }
    .join-element-nine{
        display: none;
    }
    .join-element-ten{
        display: none;
    }
    .join-element-eleven{
        display: none;
    }
    .join-element-twelve{
        display: none;
    }
    .join-element-thirteen{
        display: none;
    }
    .join-element-fourteen{
        display: none;
    }
    .join-element-fifteen{
        display: none;
    }
    .join-element-sixteen{
        display: none;
    }
    .client-content{
        margin-left: 0;
    }
    .client-content .title{
        font-size: 30px;
    }
    .client-element-one{
        display: none;
    }
    .client-element-two{
        display: none;
    }
    .client-element-three{
        display: none;
    }
    .client-element-four{
        display: none;
    }
    .client-element-five{
        display: none;
    }
    .client-element-six{
        display: none;
    }
    .client-element-seven{
        display: none;
    }
    .client-element-eight{
        display: none;
    }
    .footer-form input{
        padding: 14px 30px;
    }
}
@media (max-width: 767px) {
    .banner-section{
        background-image: url("../img/banner-bg-dark.png") !important;
    }
    .blog-content--style .meta-date {
        width: 100%;
    }
    .grid-item{
        width: 100%;
    }

    .offer-item{
        width: 100%;
    }

    .contact-us-content .title {
        font-size: 30px;
    }

    .team-section--style .team-content {
        width: 100%;
    }

    .overview-content {
        width: 100%;
        margin-left: 0;
    }

    .grid-item{
        max-width: 100%;
        flex: 0 0 100%;
    }

    .counter-item .counter-number{
        font-size: 32px;
    }

    .counter-item .counter-content{
        font-size: 18px;
    }
    .blog-thumb{
        width: 100%;
    }
    .choose-us-section .choose-content{
        padding-bottom: 0;
    }
    .client-thumb{
        margin-left: 0;
    }
    .client-content{
        width: 100%;
        padding-left: 0;
    }
    .blog-footer--style .meta-writer {
        padding-left: 0;
    }
    .contact-form-area .caption{
        font-size: 24px;
    }
    .video-content .title{
        font-size: 20px;
    }
    .header-register-form.active{
        overflow-y: scroll;
    }
    .header-login-form.active{
        overflow-y: scroll;
    }
    .about-item-area{
        padding-left: 0;
    }
    .about-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .portfolio-item{
        width: 100%;
    }
    .passion-content{
        margin-left: 0;
        width: 100%;
    }
    .get-content{
        width: 100%;
    }
    .blog-content{
        width: 100%;
    }
    .service-content--style{
        width: 100%;
    }
    .blog-top-content{
        width: 100%;
        padding-left: 0;
    }
}
@media (max-width: 575px) {
    .banner-section{
        align-items: flex-end;
    }
    h2{
        font-size: 24px;
    }
    h3,h3>a{
        font-size: 18px;
    }
    h5,h5>a{
        font-size: 16px !important;
    }
    p,span,li{
        font-size: 14px;
    }
    input,textarea{
        font-size: 14px;
    }
    .testimonial-item p{
        font-size: 18px;
    }
    .inner-banner-content .title {
        font-size: 30px;
    }
    .contact-banner-section{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .call-action-section .button-group {
        float: left;
        margin-top: 20px;
    }
    .sidebar-offer-item .title {
        font-size: 20px;
    }
    .sidebar-offer-item .title span {
        font-size: 18px;
    }
    blockquote .quote-content {
        font-size: 18px;
    }
    .comment-item .comment-content {
        width: calc(100% - 0px);
        padding-left: 0;
        margin-top: 20px;
    }
    .common-form-style .title {
        font-size: 22px;
    }
    .faq-section-header {
        font-size: 24px;
    }
    .add-content .title {
        font-size: 28px;
    }
    .add-content span {
        font-size: 30px;
    }
    .destination-details-question .title {
        font-size: 24px;
    }
    .widget-box .caption{
        font-size: 18px;
    }
    .filter-btn-group button {
        padding: 10px 30px;
        font-size: 16px;
    }
    .details-area .details-header .job-post .job-post-header {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 0 0 0;
    }
    .single-row {
        padding: 30px 30px;
    }
    .single-row .left {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .single-row .left span::before {
        opacity: 1;
    }
    .single-row .right {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
        border: none;
        margin-top: 20px;
    }
    .details-area .details-header .job-post .job-post-icon {
        -ms-flex: 0;
        flex: 0;
    }
    .blog-content .title a{
        font-size: 18px;
    }
    .pagination li a{
        font-size: 16px;
    }
    .blog-details-thumb-area .title {
        font-size: 18px;
        width: 100%;
    }
    .faq-tab-wrapper .tab-menu li{
        font-size: 16px;
    }
    .flight-item--style .flight-thumb {
        width: 100%;
    }
    .flight-item--style .flight-details {
        width: 100%;
    }
    .table-area{
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .table-area .table{
        width: 900px;
    }
    .feature-section .section-header .section-title{
        font-size: 20px;
    }
    .call-action-content .title{
        font-size: 24px;
    }
    .contact-area{
        padding: 60px 60px;
    }
    .inner-banner-section {
        padding-top: 200px;
        padding-bottom: 130px;
    }
    .inner-banner-section--style{
        padding-top: 200px;
        padding-bottom: 260px;
    }
    .challenge-section .challenge-area{
        padding: 30px;
    }
    .footer-element{
        display: none;
    }
    .footer-element-one{
        display: none;
    }
    .footer-element-two{
        display: none;
    }
    .footer-element-three{
        display: none;
    }
    .footer-element-four{
        display: none;
    }
    .footer-element-five{
        display: none;
    }
    .footer-element-six{
        display: none;
    }
    .footer-element-seven{
        display: none;
    }
    .footer-element-eight{
        display: none;
    }
    .footer-element-nine{
        display: none;
    }
    .footer-element-ten{
        display: none;
    }
    .footer-element-eleven{
        display: none;
    }
    .footer-element-twelve{
        display: none;
    }
    .footer-element-thirteen{
        display: none;
    }
    .footer-element-fourteen{
        display: none;
    }
    .footer-element-fifteen{
        display: none;
    }
    .footer-element-sixteen{
        display: none;
    }
    .footer-element-seventeen{
        display: none;
    }
    .footer-shape{
        display: none;
    }
    .footer-form input[type="submit"]{
        width: 100%;
        position: unset;
        margin-top: 10px;
    }
    .blog-social{
        margin-top: 20px;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
}
@media (max-width: 440px) {
    .common-form-style {
        padding: 20px;
    }
    .register-form-area{
        padding: 20px;
    }
    .login-form-area{
        padding: 20px;
    }
    .comments-section .comment-wrapper li .reply-wrapper {
        padding-left: 0;
    }
    .contact-form-area .caption{
        font-size: 18px;
    }
    .four-not-four-content .cmn-btn{
        padding: 0 18px;
    }
    .contact-form-area{
        padding: 30px;
    }
    .site-logo img{
        height: 22px;
    }
    .service-content{
        width: 100%;
        padding-left: 0;
    }
    .contact-area{
        padding: 40px 20px !important;
    }
    .blog-footer-thumb-area{
        margin-left: 0;
        margin-top: 10px;
    }
    .blog-meta-post .blog-view{
        margin-left: 10px;
    }
    .blog-meta-post-two .blog-view{
        margin-left: 0;
    }
    .blog-right-area{
        margin-top: 20px;
    }
    .blog-social li + li{
        margin-left: 0;
    }
    .banner-content .cmn-btn-border {
        margin-left: 0;
        margin-top: 10px;
    }
}
@media (max-width: 320px) {
}