.main {
    background-image: url("/assets/img/backgroundfull.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

@font-face {
    font-family: Machine Gunk;
    src: url(../public/assets/font/MachineGunk.ttf);
}

.bg-container {
    position: relative;
    background-image: url(../public/assets/img/new-bg-banner.png);
    background-position: 85% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 117vh;
}

.content-wrapper {
    background: none;
}

.header-overlay {
    background: url(/assets/img/vector1.svg) no-repeat top center;
    width: 460px;
    margin: 0 auto;
    text-align: center;
}

.header-top-area {
    padding: 10px 0 0;
}

.banner-section {
    background: url(/assets/img/new-bg-banner.png) no-repeat center center;
    height: 100%;
    /* width: 100%; */
    background-size: cover;
}

.site-logo img {
    width: 200px;
    height: auto;
}

.header {
    background: url(/assets/img/menu-bg1.svg) rgba(0, 0, 0, 0.5) no-repeat
        bottom center;
    /* background-size: 100%; */
}

.header-section.header-fixed .header-bottom,
.header-section.header-fixed {
    background: #59a1ed;
}

.navbar {
    background: none;
}

.navbar-nav {
    margin: 10px auto;
    height: 60px;
}

.header-section.header-fixed .navbar-nav {
    height: auto;
}

.navbar-collapse .main-menu li a {
    padding: 5px 10px;
    text-transform: uppercase;
    /* font-family: "Machine Gunk", Arial, sans-serif; */
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* .navbar-collapse .main-menu li .sub-menu {
	background: #fff;
	padding: 10px;
} */

.navbar-collapse .main-menu li:last-child .sub-menu {
    left: 0;
    right: auto;
}

.navbar-collapse .main-menu li .sub-menu .sub-menu-child {
    background: #59acf6;
    width: 100%;
    border-radius: 5px;
}

.navbar-collapse .main-menu li .sub-menu .sub-menu-child li:first-child {
    border-radius: 5px 5px 0 0;
}

.navbar-collapse .main-menu li .sub-menu .sub-menu-child li:last-child {
    border-radius: 0 0 5px 5px;
}

.navbar-collapse .main-menu li .sub-menu .sub-menu-child li:not(:last-child) a {
    border-bottom: 1px solid #ececec;
}

.navbar-collapse .main-menu li .sub-menu .sub-menu-child li a {
    color: #fff;
    font-size: 14px;
}

.banner-section {
    height: 130vh;
}

.pricing-header,
.pricing-list li {
    border: none;
    padding: 0;
    padding: 9px 0;
}

.pricing-item {
    border-radius: 0;
    padding: 25px;
}

.pricing-list li span {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2em;
    font-family: "Open Sans", sans-serif;
}

.ourstory-block {
    padding-left: 20px
}

/*#roadmap {
	background: url(../public/assets/img/rectangle11.svg) no-repeat center center;
	background-size: 100%;
}*/
.roadmap-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
}

.icon-left {
    margin-right: 10px;
}
.icon-right {
    margin-left: 10px;
}

.contact {
    font-family: Banque;
    color: white;
}
.mail {
  color: #FD7100;
  font-weight: bold;
  text-transform: lowercase;
}

#btn-getting-started {
    background: url(/assets/img/getting_started.png) no-repeat;
    background-size: 100%;

    width: 226px;
    height: 77px;

    position: absolute;
    right: 350px;
    bottom: 30px;
}

#btn-buy-token {
    background: url(/assets/img/buytoken.png) no-repeat;
    background-size: 100%;

    height: 79px;
    width: 197px;

    position: absolute;
    right: 130px;
    bottom: 30px;
}

#btn-read-more {
    position: absolute;
    bottom: 205px;
    left: 75%;
    width: 100%;
    min-width: 10px;
    max-width: 150px;
    background: url(/assets/img/getting_started.png) no-repeat center center;
    background-size: contain;
}

#btn-getting-started input,
#btn-buy-token input,
#btn-read-more input {
    border: none;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

@media only screen and (min-width: 20em) {
    /* #btn-getting-started { */
    /*     bottom: 20%; */
    /*     right: 25px; */
    /*     width: 150px; */
    /*     height: 40px; */
    /* } */

    /* #btn-getting-started input { */
    /*     padding-top: 7px; */
    /*     font-size: 12px; */
    /* } */

    /* #btn-buy-token { */
    /*     bottom: 20%; */
    /*     right: 10%; */
    /*     width: 150px; */
    /*     height: 40px; */
    /* } */

    /* #btn-buy-token input { */
    /*     padding-top: 7px; */
    /*     font-size: 12px; */
    /* } */

    /* #btn-buy-token {
		bottom: 2%;
		left: 65%;
	} */

    #btn-read-more {
        bottom: 27%;
        left: 63%;
        width: 150px;
    }

    #btn-read-more input {
        padding: 25px 10px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 35em) {
    /* #btn-getting-started { */
    /*     bottom: 5px; */
    /*     right: 250px; */
    /*     width: 225px; */
    /*     height: 70px; */
    /* } */

    /* #btn-getting-started input { */
    /*     /1* padding: 20px 10px; *1/ */
    /*     font-size: 20px; */
    /*     /1* align-items: center; *1/ */
    /* } */

    /* #btn-buy-token { */
    /*     bottom: 5px; */
    /*     width: 225px; */
    /*     right: 0px; */
    /*     height: 70px; */
    /* } */

    /* #btn-buy-token input { */
    /*     font-size: 20px; */
    /*     margin-bottom: 7px; */
    /* } */

    #btn-read-more input {
        padding: 20px 10px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 50em) {
    /* #btn-getting-started { */
    /*     /1* bottom: 0px; *1/ */
    /*     right: 360px; */
    /*     /1* width: 226px; *1/ */
    /*     /1* height: auto; *1/ */
    /* } */

    /* #btn-getting-started input { */
    /*     padding: 20px 10px; */
    /*     font-size: 24px; */
    /* } */

    /* #btn-buy-token { */
    /*     bottom: 0px; */
    /*     right: 140px; */
    /*     width: 197px; */
    /*     height: auto; */
    /* } */

    /* #btn-buy-token input { */
    /*     padding: 20px 10px; */
    /*     font-size: 24px; */
    /* } */

    #btn-read-more {
        bottom: 29%;
        left: 60%;
        width: 150px;
    }

    #btn-read-more input {
        padding: 20px 10px 26px 10px;
        font-size: 19px;
    }
}

.position-relative {
    position: relative;
    height: 500px;
}

.verticle-line {
    border-left: 2px dashed #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.video-block iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background: rgba(0, 0, 0, 0.5) no-repeat bottom center;
    }
    .site-logo img {
        width: 140px;
        height: auto;
    }
    .navbar-nav {
        height: auto !important;
        margin: 0;
    }
    /* #btn-getting-started input, */
    /* #btn-buy-token input { */
    /*     width: 175px; */
    /* } */
    #btn-getting-started {
        right: 250px;
        width: 200px;
    }
    #btn-buy-token {
        right: 50px;
        width: 172px;
    }
    .ourstory-block {
        padding-left: 60px;
        top: 24%;
    }
    .ourstory-block p {
        font-size: 13px;
    }
    .video-block {
        top: 24%;
    }
}

@media only screen and (max-width: 575px) {
    /* #btn-getting-started { */
    /*     right: 130px; */
    /*     width: 150px; */
    /* } */
    /* #btn-buy-token { */
    /*     right: 0; */
    /*     width: 130px; */
    /* } */
    /* #btn-getting-started input, */
    /* #btn-read-more input { */
    /*     width: 150px; */
    /*     font-size: 15px; */
    /* } */
    /* #btn-buy-token input { */
    /*     width: 130px; */
    /*     font-size: 15px; */
    /* } */
    .bg-container {
        background-position: 33% 50%;
        height: 100vh;
    }
    #btn-getting-started {
        width: 226px;
        height: 77px;

        bottom: 18vh;
        right: 0px;
    }
    #btn-buy-token {
        height: 79px;
        width: 197px;

        right: 0px;
        bottom: 7vh;
    }
    .main {
        background-size: cover;
    }
    .img-phase {
        width: 30% !important;
    }
    .partner-item {
        width: 80%;
        margin: 0 auto;
    }
    .footer-social-icon li {
        margin: 0 10px 20px;
    }
    .footer-social-icon li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .footer-content .title {
        margin-bottom: 20px;
    }
    .icon_war {
        width: 160px;
        height: auto;
    }

    .footer-content {
        text-align: center;
    }
    .footer-section {
        padding: 0;
    }
    .partner-line {
        margin: 50px auto 50px;
    }

    .section-title {
        font-size: 30px;
        line-height: 30px;
    }
    .pricing-item {
        padding: 15px;
    }
    .pricing-list li span {
        font-size: 16px;
        font-weight: bold;
    }
    .caption-title {
        font-size: 12px;
    }
    .navbar {
        padding: 5px !important;
    }
    .navbar-toggler {
        margin-right: 0;
    }
    .header-bottom .site-logo {
        padding: 0;
        margin: 0;
    }

    .ourstory-block {
        display: none;
    }
    .story-bg {
        padding-bottom: 200px !important;
    }

    #btn-read-more {
        bottom: 86px;
        left: 50%;
        transform: translateX(-48%);
    }
    .mb-30-none {
        margin-bottom: 0;
    }
    .video-block {
        min-width: unset;
        width: 74%;
        height: 160px;
        top: 25%;
        left: 50%;
        transform: translateX(-48%);
    }
    .video-block iframe {
        width: 100%;
        height: 100%;
        height: 100%;
    }
    .thumbnail {
        width: 100%;
    }
    .story-bg {
        padding-bottom: 0 !important;
        width: 100%;
        height: 430px;
    }
    .ourstory-title-img {
        width: 120px;
    }
    .video-block > div {
        height: 100%;
    }
    .caption-number {
        font-size: 24px;
    }
}
/* @media only screen and (max-width: 320px) { */
/*     #btn-getting-started { */
/*         width: 0px; */
/*     } */
/*     #btn-buy-token { */
/*         right: 10px; */
/*     } */
/* } */
